.login {
  width: 100%;
  height: 100vh;
  @media (max-width: 767px) {
  }
  .row {
    @include arLang(
      &,
      (
        flex-direction: row-reverse,
      )
    ); // for lang
  }
  .logInForm {
    height: 50vh;
    .card {
      min-height: 100%;
      border: none;
      @media (min-width: 992px) {
        margin-top: 20%;
      }
      .card-header {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background: $bg-main-color;
        color: $font-main-color;
        border-bottom: 2px solid $border-color;
      } // card-header
      .card-body {
        .form-group {
          margin-top: 2rem;
          .loginInput {
            padding: 1rem 0;
            @include arLang(
              &,
              (
                text-align: right,
              )
            ); // for lang
            i {
              font-size: 2rem;
              position: relative;
              top: 3.2rem;
              left: 0.5rem;
              color: $font-reverse-color;
              @include arLang(
                &,
                (
                  text-align: right,
                  left: auto,
                  right: 0.5rem,
                )
              ); // for lang
            } // icon
            input {
              border: none;
              border-radius: 0;
              border-bottom: 2px solid $border-color;
              padding-left: 3rem;
              font-size: 1.7rem;
              color: $font-reverse-color;
              &:active,
              &:focus {
                box-shadow: none;
              }
              @include arLang(
                &,
                (
                  text-align: right,
                  padding-left: 0,
                  padding-right: 3rem,
                )
              ); // for lang
            } // input
          } //loginInput
          .logInBtn {
            margin-top: 3rem;
            .btn {
              font-size: 1.6rem;
              background: $bg-main-color;
              color: $font-main-color;
              border: $bg-main-color;
              &:hover {
                background-color: $bg-hover-color;
              }
            }
          } // logInBtn
        } // form-group
      } // card-body
    } // card
  } // logInForm
} // login
