$cellBorder: 1px solid rgba($border-color, $alpha: 0.7);
$transition: all 0.5s linear;

.calenderTable {
  padding: 1rem 1rem 1rem 2rem;
  margin: auto;
  .row {
    @include arLang(
      &,
      (
        flex-direction: row-reverse,
      )
    ); // for lang
  }

  .col-2 {
    flex: 0 0 (100% / 7);
    max-width: (100% / 7);
    //min-width: 30vw;
    @media (min-width: 768px) {
      min-width: (100% / 7);
    } //media aria : media screen
  }

  .dateForShow {
    box-shadow: 3px 0 3px -1px rgba($shadow-color, 0.4),
      -3px 0 3px -1px rgba($shadow-color, 0.4),
      0px 4px 3px -1px rgba($shadow-color, 0.4);
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba($bg-main-color, 0.3);
    color: $font-main-color;
    padding: 1rem 0;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: $transition;
    @media (min-width: 992px) {
      font-size: 2.2rem;
    } // media for dateForShow.

    .head {
      display: flex;
      justify-content: center;
      align-items: center;
      .months {
        font-size: 2.7rem;
        padding: 0 30px 5px;
        position: relative;
        @media (min-width: 992px) {
          font-size: 3.2rem;
        } // media fro months in big screen
        //--

        ul {
          position: absolute;
          left: 25%;
          right: 25%;
          top: 40px;
          z-index: 999;
          background-color: $bg-main-color;
          width: max-content;
          border-radius: 5px;
          transform: translate(-25%, 0);
          height: 0;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s 0.1s ease-in-out;
          width: 25rem;
          text-align: center;

          @media (min-width: 992px) {
            width: 45rem;
          } // media fro ul in big screen

          &.open {
            height: auto;
            visibility: visible;
            opacity: 1;
          } // for open month list

          li {
            padding: 8px;
            font-size: 1.3rem;
            @media (min-width: 992px) {
              font-size: 1.6rem;
            } // media fro ul in big screen
            &:hover,
            &.active {
              background-color: $bg-reverse-color;
              color: $font-hover-color;
            } // when li is hover
            //--
          } // li
          //--
        } // ul : has list of month for choose
        //--
      } // month : current month view
      //--
    } // head : show month and year
    //--
    .priv,
    .next {
      padding-top: 11px;
      text-align: center;
      @media (min-width: 992px) {
        .arrow {
          border-radius: 50%;
          border: 0.1rem solid transparent;
          transition: all 0.5s linear;
          display: flex;
          width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
        } // next and priv arrow
        &:hover .arrow {
          box-shadow: -0.2rem -0.4rem 0.3rem -0.4rem #00909e,
            0.2rem -0.4rem 0.3rem -0.4rem #00909e,
            -0.2rem 0.4rem 0.3rem -0.4rem #00909e,
            0.2rem 0.4rem 0.3rem -0.4rem #00909e;
        }
      }
    }
    .next {
      i {
        @include arLang(
          &,
          (
            transform: rotate(180deg),
          )
        );
      }
    }
    .priv {
      i {
        @include arLang(
          &,
          (
            transform: rotate(180deg),
          )
        );
      }
    }

    .chooseMonth {
      position: absolute;
      z-index: 999;
      background-color: $bg-main-color;
      color: $font-main-color;
      border: 0.2rem solid $border-color;
      &.active {
        display: block;
      }
      @media (min-width: 768px) {
        width: 60%;
      }
      .years {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        border-bottom: 0.2rem solid $border-color;
        i {
          padding: 0.5rem 2rem;
          border-radius: 5px;
          box-shadow: -0.2rem -0.4rem 0.3rem -0.4rem $shadow-color,
            0.2rem -0.4rem 0.3rem -0.4rem $shadow-color,
            -0.2rem 0.4rem 0.3rem -0.4rem $shadow-color,
            0.2rem 0.4rem 0.3rem -0.4rem $shadow-color;
          border: 0.1rem solid transparent;
          transition: $transition;
          &:hover {
            border-color: $border-color;
          }
        }
      } // years: choose Year
      .months {
        padding: 0.2rem;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        @media (min-width: 768px) {
          font-size: 1.8rem;
        }
        li {
          border-bottom: 0.1rem solid transparent;
          box-shadow: 0px 1px 3px -1px $shadow-color;
          transition: $transition;
          &:hover {
            border-bottom: 0.1rem solid $border-color;
          }
        }
      } // months: show all month
    } // chooseMonth : popover for change month
  } // dateForShow : show and chooses view date
  .calenderHeader {
    .row {
      box-shadow: 3px 0 3px -1px rgba($shadow-color, 0.4),
        -3px 0 3px -1px rgba($shadow-color, 0.4),
        0px 4px 3px -1px rgba($shadow-color, 0.4);
    }
    .headerDayCell {
      height: 3.5vh !important;
      align-items: center;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 1.1rem;
      background-color: rgba($bg-main-color, 0.3) !important;
      color: $font-main-color;
      text-transform: uppercase;
      font-weight: bolder;
      @media (min-width: 768px) {
        height: 7.5vh !important;
        font-size: 2.1rem;
      }
    }
  } //calenderHeader
  .calenderBody {
    .dayCell {
      position: relative;
      //border: $cellBorder;
      box-shadow: 3px 0 3px -1px rgba($shadow-color, 0.4),
        -3px 0 3px -1px rgba($shadow-color, 0.4),
        0px 4px 3px -1px rgba($shadow-color, 0.4);
      margin-bottom: 2px;
      height: 7vh;
      font-size: 1.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      background-color: rgba($bg-reverse-color, 0.3) !important;
      color: $font-main-color;
      @media (min-width: 768px) {
        height: 20vh;
        font-size: 2.8rem;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @include arLangMedia(
          &,
          (
            align-items: flex-end,
          ),
          "min-width: 768px"
        );
      } // style for medium screen
      cursor: pointer;
      &.dayCellActive,
      &:hover {
        background-color: rgba($bg-main-color, 0.3) !important;
      } // hover
      .dayInfo {
        position: absolute;
        display: none;
        font-size: 1.3rem;
        padding: 5px 15px;
        margin-top: 3px;
        width: auto;
        align-self: flex-end;
        @media (min-width: 768px) and (max-width: 991px) {
          top: 85px !important;
        }
        @media (max-width: 992px) {
          &.active {
            display: block;
            padding: 15px 15px;
            top: 36px;
            left: -11px;
            z-index: 999;
            background-color: $bg-main-color;
            border-radius: 5px;
            width: 150px;
            @include arLangMedia(
              &,
              (
                left: -44px,
              ),
              "max-width: 992px"
            );
            &::before {
              content: "";
              position: absolute;
              top: -15px;
              left: 14px;
              border: 7px solid;
              width: 15px;
              height: 15px;
              border-color: transparent transparent #142850 transparent;
              @include arLangMedia(
                &,
                (
                  right: 14px,
                  left: auto,
                ),
                "max-width: 992px"
              );
            }
          }
        }

        @media (min-width: 992px) {
          font-size: 1.5rem;
          position: unset;
          display: block;
          padding: 5px 10px;
          margin-top: -10px;
        }
        & > div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 1.2rem;
        }
      } //dayInfo
    } // dayCell
  } //calenderBody
} //calenderTable
