// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Main Color
$bg-main-color: #142850;
$bg-reverse-color: #dae1e7;
$bg-hover-color: #27496d;

$font-main-color: #dae1e7;
$font-reverse-color: #27496d;
$font-hover-color: #00909e;

$border-color: #00909e;
$shadow-color: #00909e;

// maps
$arLang: ();
$arLangMedia: ();

//  Transition
$transition: all 0.5s linear;
